.idea

.env.test.local

/var
/vendor

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
